absl-py==2.0.0
aiobotocore 
aiofiles 
aiohttp 
aioitertools 
aiosignal 
aiosqlite 
alabaster 
alembic==1.13.1
altair==5.2.0
anaconda-anon-usage 
anaconda-catalogs 
anaconda-client==1.12.0
anaconda-navigator==2.4.3
anaconda-project 
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
appdirs==1.4.4
argon2-cffi 
argon2-cffi-bindings 
arrow 
asgiref==3.7.2
assemblyai==0.21.0
asteroid-filterbanks==0.4.0
astroid 
astropy 
asttokens 
astunparse==1.6.3
async-timeout 
atomicwrites==1.4.0
attrs 
audioread==3.0.1
Automat 
autopep8 
Babel 
backcall 
backports.functools-lru-cache 
backports.tempfile 
backports.weakref==1.0.post1
bardapi==0.1.23a0
bcrypt 
beautifulsoup4==4.12.3
binaryornot 
black 
bleach 
blinker==1.7.0
blis==0.7.11
bokeh 
boltons 
boto3==1.34.22
botocore==1.29.76
Bottleneck 
Brotli==1.1.0
brotlipy==0.7.0
cachetools==5.3.2
catalogue==2.0.10
certifi 
cffi 
chardet 
charset-normalizer 
click 
cloudpathlib==0.16.0
cloudpickle 
clyent==1.2.2
cmdstanpy==1.2.1
colorama 
colorcet 
colorlog==6.8.2
comm 
conda 
conda-build 
conda-content-trust 
conda-libmamba-solver 
conda-pack 
conda-package-handling 
conda-repo-cli==1.0.41
conda-token 
conda-verify==3.4.2
conda_index 
conda_package_streaming 
confection==0.1.4
constantly==15.1.0
contourpy 
cookiecutter 
cryptography 
cssselect==1.1.0
cycler 
cymem==2.0.8
Cython==3.0.8
cytoolz 
daal4py==2023.1.1
dacite==1.8.1
dask 
datasets 
datashader 
datashape==0.5.4
debugpy 
decorator 
defusedxml 
Deprecated==1.2.14
diff-match-patch 
dill 
distributed 
Django==5.0.1
djangorestframework==3.14.0
docopt==0.6.2
docstring-to-markdown 
docutils 
einops==0.7.0
en-core-web-sm 
entrypoints 
et-xmlfile==1.1.0
executing 
fastapi==0.103.2
fastjsonschema 
filelock 
flake8 
Flask 
flatbuffers==23.5.26
fonttools==4.25.0
frozenlist 
fsspec 
future 
fuzzywuzzy==0.18.0
gast==0.5.4
gensim 
gitdb==4.0.11
GitPython==3.1.40
glob2 
gmpy2 
google-auth==2.26.1
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
greenlet 
grpcio==1.60.0
h11==0.14.0
h2==4.1.0
h5py 
HeapDict 
holidays==0.42
holoviews 
hpack==4.0.0
httpcore==1.0.2
httpx==0.26.0
huggingface-hub 
hvplot 
hyperframe==6.0.1
hyperlink 
HyperPyYAML==1.2.2
idna 
imagecodecs 
imageio 
imagesize 
imbalanced-learn 
implicit==0.7.2
importlib-metadata 
importlib-resources==6.1.1
incremental 
inflection==0.5.1
iniconfig 
intake 
intervaltree 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
isort 
itemadapter 
itemloaders 
itsdangerous 
jaconv==0.3.4
jaraco.classes 
jedi 
jeepney 
jellyfish 
Jinja2 
jinja2-time 
jmespath 
joblib 
json5 
jsonpatch 
jsonpointer==2.1
jsonschema 
julius==0.2.7
jupyter 
jupyter-console 
jupyter-events 
jupyter-server 
jupyter-ydoc 
jupyter_client 
jupyter_core 
jupyter_server_fileid 
jupyter_server_ydoc 
jupyterlab 
jupyterlab-pygments 
jupyterlab-widgets 
jupyterlab_server 
kaggle==1.6.12
keras==2.15.0
keyring 
kiwisolver 
langcodes==3.3.0
lazy-object-proxy 
lazy_loader 
libarchive-c 
libclang==16.0.6
libmambapy 
librosa==0.10.1
lightning==2.2.0
lightning-utilities==0.10.1
linkify-it-py 
llvmlite 
lmdb 
locket 
lxml 
lz4 
Mako==1.3.2
Markdown 
markdown-it-py 
MarkupSafe 
matplotlib 
matplotlib-inline 
mccabe 
mdit-py-plugins 
mdurl 
mistune 
mkl-fft==1.3.6
mkl-random 
mkl-service==2.4.0
ml-dtypes==0.2.0
more-itertools 
mpmath 
msgpack 
multidict 
multipledispatch 
multiprocess 
munkres==1.1.4
murmurhash==1.0.10
mutagen==1.47.0
mypy-extensions==0.4.3
natsort==8.4.0
navigator-updater==0.4.0
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx 
nltk 
notebook 
notebook_shim 
numba 
numexpr 
numpy 
numpydoc 
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
omegaconf==2.3.0
openpyxl==3.0.10
opt-einsum==3.3.0
optuna==3.5.0
outcome==1.3.0.post0
packaging 
pandas==1.5.3
pandas-flavor==0.6.0
pandocfilters 
panel 
param 
parsel 
parso 
partd 
pathlib 
pathspec 
patsy==0.5.3
pep8==1.7.1
pexpect 
pickleshare 
Pillow==9.4.0
pkginfo 
platformdirs==4.2.2
plotly 
pluggy 
ply==3.11
pmdarima==2.0.4
pooch 
poyo 
preshed==3.0.9
primePy==1.3
prometheus-client 
prompt-toolkit 
prophet==1.1.5
Protego 
protobuf==4.23.4
psutil 
ptyprocess 
pure-eval 
py-cpuinfo 
py4j==0.10.9.7
pyannote.audio==3.1.1
pyannote.core==5.0.0
pyannote.database==5.0.1
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pyarrow==11.0.0
pyasn1 
pyasn1-modules==0.2.8
pycodestyle 
pycosat 
pycparser 
pycryptodomex==3.19.1
pyct 
pycurl==7.45.2
pydantic==2.7.4
pydantic_core==2.18.4
pydeck==0.8.1b0
PyDispatcher==2.0.5
pydocstyle 
pydub==0.25.1
pyerfa 
pyflakes 
Pygments 
pyjanitor==0.27.0
PyJWT 
pykakasi==2.2.1
pylint 
pylint-venv 
pyls-spyder==0.4.0
pyodbc 
pyOpenSSL 
pyparsing 
PyQt5-sip==12.11.0
pyrsistent 
PySocks 
pyspark==3.5.0
pytest 
python-dateutil 
python-json-logger 
python-lsp-black 
python-lsp-jsonrpc==1.0.0
python-lsp-server 
python-slugify==8.0.4
python-snappy 
pytoolconfig 
pytorch-lightning==2.2.0
pytorch-metric-learning==2.4.1
pytube==15.0.0
pytz 
pyviz-comms 
PyWavelets 
pyxdg 
PyYAML 
pyzmq 
QDarkStyle 
qstylizer 
QtAwesome 
qtconsole 
QtPy 
queuelib==1.5.0
rapidfuzz==3.9.3
redis==5.0.1
regex 
requests 
requests-file 
requests-oauthlib==1.3.1
requests-toolbelt 
responses 
rfc3339-validator 
rfc3986-validator 
rich==13.7.1
rope 
rsa==4.9
Rtree 
ruamel-yaml-conda 
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3fs 
s3transfer==0.10.0
sacremoses 
scikeras==0.12.0
scikit-image 
scikit-learn 
scikit-learn-intelex==20230426.111612
scikit-surprise==1.1.3
scipy==1.10.1
Scrapy 
seaborn 
SecretStorage 
selenium==4.17.2
semver==3.0.2
Send2Trash 
sentencepiece==0.1.99
service-identity 
shellingham==1.5.4
sip 
six 
smart-open 
smmap==5.0.1
sniffio==1.3.0
snowballstemmer 
sortedcontainers 
soundcloud-v2==1.4.1
sounddevice==0.4.6
soundfile==0.12.1
soupsieve 
soxr==0.3.7
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
speechbrain==0.5.16
Sphinx 
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
spotipy==2.23.0
spyder 
spyder-kernels 
SQLAlchemy 
sqlparse==0.4.4
srsly==2.4.8
stack-data 
stanio==0.3.0
starlette==0.27.0
statsmodels 
streamlit==1.29.0
surprise==0.1
sympy 
syncedlyrics==0.7.0
tables 
tabulate 
TBB==0.2
tblib 
tenacity 
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.15.0.post1
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.35.0
termcolor==2.4.0
terminado 
text-unidecode 
textblob==0.17.1
textdistance 
thinc==8.2.2
threadpoolctl 
three-merge 
tifffile 
timer==0.2.2
tinycss2 
tldextract 
tokenizers 
toml 
tomlkit 
toolz 
torch==2.2.0
torch-audiomentations==0.11.1
torch-pitch-shift==1.2.4
torchaudio==2.2.0
torchmetrics==1.3.0.post0
tornado 
tqdm 
traitlets 
transformers 
trio==0.24.0
trio-websocket==0.11.1
triton==2.2.0
truststore 
Twisted 
typer==0.9.0
typing_extensions==4.9.0
tzlocal==5.2
uc-micro-py 
ujson 
Unidecode 
urllib3==1.26.18
uvicorn==0.23.2
validators==0.22.0
w3lib 
wasabi==1.1.2
watchdog 
wcwidth 
weasel==0.3.4
webencodings==0.5.1
websocket-client 
websockets==12.0
Werkzeug 
whatthepatch 
widgetsnbextension 
wordcloud==1.9.3
wrapt 
wsproto==1.2.0
wurlitzer 
xarray 
xlrd==2.0.1
xxhash 
xyzservices 
y-py 
yapf 
yarl 
ypy-websocket 
yt-dlp==2024.5.27
ytmusicapi==1.4.2
zict 
zipp 
zope.interface 
zstandard 
